<section class="contact">
  <h1>Contact Me</h1>
  <p>Feel free to reach out using the form below or through my social media accounts.</p>
  
  <div class="contact-container">
    <form class="contact-form" action="/contact" method="POST">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
      </div>
      
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
      </div>
      
      <div class="form-group">
        <label for="subject">Subject</label>
        <input type="text" id="subject" name="subject" required>
      </div>
      
      <div class="form-group">
        <label for="message">Message</label>
        <textarea id="message" name="message" rows="5" required></textarea>
      </div>
      
      <button type="submit" class="btn">Send Message</button>
    </form>
    
    <div class="contact-info">
      <h3>Other Ways to Connect</h3>
      <ul>
        <li> <a href="jdev8602@gmail.com"> Email</a></li>
        <li> <a href="https://www.linkedin.com/in/jack-male-21369a257/"> LinkedIn</a> </li>
        <li> <a href="https://github.com/jack24899?tab=repositories"> Github</a> </li>
      </ul>
    </div>
  </div>
</section>