<section class="thank-you">
  <h1>Thank You!</h1>
  <div class="message">
    <p>Your message has been successfully sent. I'll get back to you as soon as possible.</p>
    <p>In the meantime, feel free to explore more of my website.</p>
    <a href="/" class="btn">Back to Home</a>
  </div>
</section>